.user_container {
-fx-background-color: #EEEEEE;
-fx-spacing:10;
}

.user_container Label{
    -fx-font-size:1.5em;
    -fx-text-fill: #132A13
}
.user_container .list-view{
    -fx-background-color:#EEEEEE;
    -fx-padding: 20;
    -fx-background-radius: 10px;

}

.user_container .list-cell{
    -fx-width: 700;
    -fx-padding : 10 0 10 0;
    -fx-background-color: #EEEEEE;
}